
.frames {
	display: block;
	position: relative;
	margin: 10px;
	padding: 0px;
}

.frames iframe {
	display: inline-block;
	position: relative;
	border: 2px solid black;
	margin: 10px 0px 0px 0px;
	padding: 10px;
	width:93%;
	height:85%;
}

.frames a {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	color: blue;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;
}

.frames a:hover {
	color: blue;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

.frames a:visited {
	color: blue;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

.wrapper {
	display: block;
	margin: 0px;
	padding: 0px;
}

.wrapper p {
	display: inline-block;
	margin: 5px 0px 5px 30px;
	padding: 0px;
}

.wrapper a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: black;
	cursor: default;
}

.wrapper a:hover {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.wrapper a:visited {
	text-decoration: none;
	color: blue;
}

.download {
	display: inline-block;
	position: relative;
	margin: 0px 5px 0px 5px;
	padding: 0px;
	height: 3%;
}

.download:nth-child(1) {
	margin: 0px 5px 0px 0px;
}

.wrapper p a {
	text-decoration: none;
	color: blue;
	cursor: default;
}

.wrapper p a:hover {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.wrapper p a:visited {
	text-decoration: none;
	color: blue; 
}

.container ul li {
	list-style-type: none;
	list-style-position: outside;
	display: block;
}

.container ul li::before {
	content: "➤ ";
}

.container ul li ul li {
	list-style-type: none;
	list-style-position: outside;
}

.container ul li ul li::before {
	content: "ᐅ ";
}

.nexter {
	display: inline-block;
	position: relative;
	margin: 0px 0px 0px 20px;
	padding: 0px;
	text-decoration: none;
	cursor: default;
	color: blue;
}

.nexter:hover {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}

.nexter:visited {
	text-decoration: none;
	cursor: default;
	color: blue;
}
